.modal-common__sample {
    .btn-left {
        width: 120px;
        background:linear-gradient(rgba(229, 229, 229, 1),rgba(204, 204, 204, 1));
    }

    .btn-right {
        width: 120px;
        background: linear-gradient(rgba(255, 48, 85, 1),rgba(255, 180, 180, 1));
    }
}