.modal-common__two-btn {
  .list-button {
    .btn-modal-default {
      width: 120px;
    }
    .btn {
      &:first-child {
        .btn-modal-default {
          background: linear-gradient(rgba(229, 229, 229, 1), rgba(204, 204, 204, 1));
        }
      }
      &:last-child {
        .btn-modal-default {
          background: linear-gradient(rgba(255, 48, 85, 1), rgba(255, 180, 180, 1));
        }
      }
    }
  }
}

.modal-common__one-btn {
  .list-button {
    .btn-modal-default {
      width: 120px;
    }
    .btn {
      &:first-child {
        .btn-modal-default {
          background: linear-gradient(rgba(0, 148, 255, 1), rgba(0, 194, 255, 1));
        }
      }
      
    }
  }
}
